/* VARS */

:root {
  --bg-color: #ffc09f;
  --bg-text-color: #605800;

  --card-color: #fcf5c7;
  --card-text-large-color: #67939e;
  --card-text-small-color: #49757f;

  --btn-bg-color: #adf7b6;
  --btn-disabled-bg-color: #ededed;
  --btn-text-color: #70680f;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;

  font-family: "Hubballi", sans-serif;
}

/* CARD */

.card-container {
  z-index: 2;
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  min-width: 200px;

  transition: 0.4s;
}

.buttons-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-row button {
  width: 250px;
  margin: 0px 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;

  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);

  font-family: "Hubballi", sans-serif;
  font-size: 1.4rem;

  transition: 0.4s;
}

.buttons-row button:hover,
.buttons-row button:focus {
  background-color: var(--btn-text-color);
  color: var(--btn-bg-color);

  cursor: pointer;
  outline: none;
}

.buttons-row button:disabled {
  background-color: var(--btn-disabled-bg-color);
  color: var(--btn-text-color);

  cursor: default;
}

#card-title {
  width: 100%;
  padding-bottom: 10px;

  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 1px var(--card-text-large-color);

  font-family: "Hubballi", sans-serif;
  color: var(--card-text-large-color);
  font-weight: 400;
  font-size: 2.2rem;
}

#card-description {
  width: 100%;
  margin: 20px 0px;
  resize: none;

  background-color: transparent;
  outline: none;
  border: none;

  font-family: "Hubballi", sans-serif;
  color: var(--card-text-small-color);
  font-weight: 400;
  font-size: 1.6rem;
}

.key-tooltip {
  font-size: 0.7rem;
}

/* BACKGROUND */

.bg-content {
  z-index: 1;
  position: absolute;
  top: 10vh;

  color: var(--bg-text-color);
}

.bg-content li {
  font-size: 1.2rem;
}
